# ignore files with tokens
gpt_token.txt
discord_token.txt

# ignore intellij files
.idea

# don't include files specific to user/app
server_dialogues.json
# uncomment the prompts file if you don't want it pushed
# prompts.json